<h1 class="mt-4">Empresas</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{company.id ? 'Edição' : 'Cadastro'}}</li>
</ol>
<div class="container">
    <form #copanyform="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Salvo com sucesso!
                  </div>
                  <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{erro}}
                  </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" disabled = true>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome Fantasia: *</label>
                    <input type="text" 
                        [(ngModel)]="company.nomeFantasia" name="nomeFantasia"class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>CEP: *</label>
                    <input type="text"  [(ngModel)]="company.cep" name="cep" class="form-control">
                    
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>CNPJ: *</label>
                    <input type="text" [(ngModel)]="company.cnpj" name="cnpj" class="form-control">
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-success" *ngIf = "!company.id">
                    <i class="fa fa-save"></i> Salvar
                </button>

                <button type="submit" class="btn btn-primary"  *ngIf = "company.id">
                    <i class="fa fa-sync-alt"></i> Atualizar
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger " (click)="coltarParaListagem()">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>
        </div>
    </form>

</div>